* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: lightgray;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.content {
    padding-top: 10px;
    font-size: 19px;
    height: 200px;
    width: 600px;
    background-color: lightgray;
    margin-top: 150px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.input-1-btn-container {
    display: flex;
}

.big-btn {
    position: relative;
    width: 580px;
}

.input-1 {
    width: 390px;
    height: 40px;
}

.add-btn, .reset-btn {
    height: 40px;
    width: 100px;
    margin-left: 10px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
}

.reset-btn {
    background-color: red;
    color: white;
}

.big-input {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    width: 580px;
}

.big-btn {
    height: 30px;
    background-color: rgb(34, 172, 34);
    color: white;
    border: none;
}

.bad-words {
    font-weight: 600;
    color: red;
}